@import "../../main.css";

.character-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  width: 20vw;
  height: 60vh;
  margin: 10px 30px;
  justify-content: stretch;
  align-items: center;
  box-shadow: inset 0 0 0 0 var(--box-shadow-color-two);
  transition: ease-out 0.4s;
}

.character-card:hover {
  box-shadow: inset 0 0 0 250px var(--box-shadow-color-one);
  transition: ease-out 0.4s;
}

.character-card:hover p {
  color: whitesmoke;
  transition: ease-out 0.4s;
}
.character-card p {
  font-weight: bold;
  color: #333;
  transition: ease-out 0.4s;
}

.character-image {
  width: 75%;
  padding: 10px;
  border-radius: 15px;
}

.character-info {
  text-align: center;
  width: 75%;
}

.character-info span {
  color: var(--primary-color);
}
